# Extends standard dependencies with SUMO Python bindings & Colab utilities
sumo-rl @ git+https://github.com/LucasAlegre/sumo-rl.git@86f0fc41401eeca724b2e8878f5020dc6d70c9b4
gymnasium>=0.29.1
stable-baselines3[extra]>=2.3.0
shimmy>=1.3.0
optuna>=3.6.0
pyyaml>=6.0.1
tensorboard>=2.16.0
traci>=1.20.0
sumolib>=1.20.0
libsumo